<section id="intervention-form">
<div class="container">
    <div class="heading-title heading-dotted text-center">
        <h2>INTERVENTION <span>FORM</span></h2>
    </div>
    <!-- /Title -->
    <!-- I Form -->

    <div class="container form ">
        <%= form_for(Intervention.new) do |f| %>
            <div id="cusotmer_id"> 
            <%= f.label :customer_id %>
            <%= collection_select :customer_id, :id, Customer.all, :id, :cpy_contact_full_name %>
            </div>
            <input type="hidden" value="contact_send">
            <div id="building_id" class="col-md-4" >
                <%= f.label :building %>
                <%= collection_select :building, :id, Building.all, :id, :id %>
            </div>
            <div id="battery_id" class="col-md-4" >
                <%= f.label :batteries %>
                <%= collection_select :battery, :id, Battery.all, :id, :id %>
            </div>
            <div id="column_id" class="col-md-4" >
                <%= f.label :columns %>
                <%= collection_select :column, :id, Column.all, :id, :id %>
            </div>
            <div id="elevator_id" class="col-md-4" >
                <%= f.label :elevators %>
                <%= collection_select :elevator, :id, Elevator.all, :id, :id %>
            </div>
            <div id="employee_id" class="col-md-4" >
                <%= f.label :employee %>
                <%= collection_select :employee, :id, Employee.all, :id, :first_name, {:selected => "None"} %>
            </div>
            <div id="description" class="col-md-12" >
                <%= f.label :description %>
                <%= f.text_area :report, :cols => 54, :rows => 6, class:"form-control" %>
            </div>
    </div>
</div>
<div class="container form col-md-4">
        <%= submit_tag "SUBMIT" , class: 'btn btn-primary'  %><i class:"fa fa-check"></i>
    </div>
    </br>
</div>
<% end %>