<% if !current_user || !current_user.admin %>
    <%= redirect_to main_app.root_path %>
<% end %>

<section id="intervention-form">
<div class="container">
    <div class="heading-title heading-dotted text-center">
        <h2>INTERVENTION <span>FORM</span></h2>
    </div>
    <!-- /Title -->
    <!-- I Form -->

    <div class="container form ">
        <%= form_for(Intervention.new) do |f| %>
            <div id="customer_id"> 
                <%= f.label :customer %>
                <%= f.collection_select :customer_id, Customer.all, :id, :cpy_contact_full_name, {:prompt => "Select a Customer"}, {:class => "customer_selection"} %>
            </div>
            <%# <input type="hidden" value="contact_send"> %>
            <div id="building_id" class="col-md-4" >
                <%= f.label :building %>
                <%= f.collection_select :building_id, Building.all, :id, :id, {:prompt => "Select a Building"}, {:class => "building_selection"} %>
            </div>
            <div id="battery_id" class="col-md-4" >
                <%= f.label :battery %>
                <%= f.collection_select :battery_id, Battery.all, :id, :id, {:prompt => "Select a Battery"}, {:class => "battery_selection"} %>
            </div>
            <div id="column_id" class="col-md-4" >
                <%= f.label :columns %>
                <%= f.collection_select :column_id, Column.all, :id, :id, {:prompt => "Select a Column"}, {:class => "column_selection"} %>
            </div>
            <div id="elevator_id" class="col-md-4" >
                <%= f.label :elevators %>
                <%= f.collection_select :elevator_id, Elevator.all, :id, :id, {:prompt => "Select a Elevator"}, {:class => "elevator_selection"} %>
            </div>
            <div id="employee_id" class="col-md-4" >
                <%= f.label :employee %>
                <%= f.collection_select :employee_id, Employee.all, :id, :first_name, {:include_blank => 'None'} %>
            </div>
            <div id="description" class="col-md-12" >
                <%= f.label :description %>
                <%= f.text_area :report, :cols => 54, :rows => 6, class:"form-control" %>
            </div>
    </div>
</div>
<div class="container form col-md-4">
        <%= submit_tag "SUBMIT" , class: 'btn btn-primary'  %><i class:"fa fa-check"></i>
    </div>
    </br>
</div>
<% end %>